<div class="form-container">
  <form {{on 'submit' this.saveTask}}>
    <div class="form-group">
      <label for="title" class="text-label">Title:</label><br>
      <input type="text" id="title" required value={{this.title}} {{on 'input' this.handleTitleChange}} />
    </div>

    <div class="form-group">
      <select id="author" value={{this.author}} {{on 'change' this.handleAuthorChange}}>
        <option value="">Select an author</option>
        {{#each this.authors as |author|}}
          <option value={{author.id}}>{{author.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="description" class="text-label">Description:</label><br>
      <textarea id="description" value={{this.description}} {{on 'input' this.handleDescriptionChange}}></textarea>
    </div>

    <div class="form-group">
      <label for="status" class="text-label">Status:</label><br>
      <select id="status" value={{this.status}} {{on 'input' this.handleStatusChange}}>
        <option value="to-do">To-Do</option>
        <option value="in-progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dueDate" class="text-label">Due Date:</label><br>
      <input type="date" id="dueDate" value={{this.dueDate}} {{on 'input' this.handleDueDateChange}} />
    </div>

    <div class="button-group">
      <button type="submit">Save</button>
      <button type="button" {{on 'click' this.cancel}}>Cancel</button>
    </div>
  </form>
</div>
