<div class="form-container">
  <p class="text-label">Task List</p>
  <ul class="authors-list">
    {{#each @tasks as |task|}}
      <div class="form-container">
        <li class="author-item">
        Task: {{task.title}} <br>
        Description: {{task.description}} <br>
        Status: {{task.status}} <br>
        Due Date: {{task.dueDate}}
        <button type="button" {{on "click" (fn this.deleteTask task)}}>Delete</button>
        </li>
      </div>
    {{/each}}
  </ul>
</div>
